* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main .to-do {
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #f00;
  border-radius: 10px;
}
main .input-container {
  /* border: 1px solid #000; */
  border-radius: 10px;
  display: flex;
  padding: 0.1rem 0.3rem;
}
main .input-container .task {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 90%;
}
main .input-container .input-date {
  border: 1px solid #bbb;
  outline: none;
  border-radius: 10px;
}
/* .input-date::-webkit-datetime-edit {
  color: transparent;
}
.input-date:focus::-webkit-datetime-edit {
  color: #000;
} */
.add-btn {
  width: 100%;
}
.to-do-list ul,
.comp-list,
.uncomp-list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.list-item {
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.date {
  font-size: 0.9rem;
}
.tasks {
  height: auto;
  padding: 0.2rem;
}
.task-out {
  width: 100%;
  line-break: anywhere;
  height: auto;
  font-size: 0.9rem;
}
.trash:hover {
  color: #f00;
  animation: trash-shake 0.3s linear 3;
}
.uncompleted .uncomp-list {
  background-image: url("https://imageio.forbes.com/specials-images/dam/imageserve/1092571024/0x0.jpg?format=jpg&width=1200");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 10px;
}
.uncompleted .uncomp-list li {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgba(0, 0, 0, 0.4);
}
.completed .comp-list {
  background-image: url("https://wallpapers.com/images/hd/patrick-star-to-do-list-frot5mbh3i7rnb2e-frot5mbh3i7rnb2e.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 10px;
}
@keyframes trash-shake {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
