* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main .to-do {
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #f00;
  border-radius: 10px;
}
main .input-container {
  /* border: 1px solid #000; */
  border-radius: 10px;
  display: flex;
  padding: 0.1rem 0.3rem;
}
main .input-container .task {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}
main .input-container .input-date {
  border: 1px solid #bbb;
  outline: none;
  border-radius: 10px;
}
/* .input-date::-webkit-datetime-edit {
  color: transparent;
}
.input-date:focus::-webkit-datetime-edit {
  color: #000;
} */
.add-btn {
  width: 100%;
}
.to-do-list ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.list-item {
  margin-bottom: 0.5rem;
}
.date {
  font-size: 0.9rem;
}
.tasks {
  border: 1px solid #f00;
  height: auto;
}
.task-out {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-break: anywhere;
  height: auto;
  font-size: 0.9rem;
}
.trash:hover {
  color: #f00;
  animation: trash-shake 0.3s linear 3;
}
@keyframes trash-shake {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
